.full {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.right {
  background-color: rgb(255, 194, 210);
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
}

.deck {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  padding: 15px 30px 15px 30px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.pic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}
.prev {
  width: 100%;
}

.footer-inside {
  background-color: rgb(75, 220, 253);
  height: 45px;
  margin: 30px -100px 0 -100px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.footer-inside .icon {
  height: 15px;
  object-fit: cover;
}

@media (max-width: 600px) {
  .pic {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .pic {
    grid-template-columns: 1fr;
  }
}
